extends layout

block content
  h1 Podcasts
  p.
    Check out the CCSS podcast, where we cover a variety of different topics with
    different speakers. If you would like information on the podcasts, comments, 
    concerns, requests, or other inquiries, feel free to contact #[a(href="mailto:matt.diener@ccss.carleton.ca") Matt Diener].
  h2 Upcoming Podcasts...
  p.
    No podcasts are currently planned at this time. They should be returning soon!
  h2 Available Podcasts
  .container-fluid#podcasts
    each podcast in body.podcasts
      .row
        .col-md-2.avatar
          img(src="/img/podcast-avatar.png", alt="CCSS Podcast!")
          p CCSS Podcast ##{podcast.id}

        .col-md-6.content
            table.table-bordered
              tr.title
                td: h3 #{podcast.title}
              tr.description
                td
                  p. #{podcast.description}
                  audio(controls)
                    source(src="/assets/podcasts/"+podcast.id)
                    span It appears something went wrong or your browser #[a(href="http://caniuse.com/audio") does not support] HTML5 audio.
              tr.credits
                td
                  strong Hosts: 
                  span #{podcast.credits.hosts} | 
                  strong Guests: 
                  span #{podcast.credits.guests} | 
                  strong Sound: 
                  span #{podcast.credits.sound} 
        .col-md-2.links
          table.table
            tr
              td
                strong Related Links
                //- Check links[0] so we can have empty arrays for skeletons
                if podcast.links && podcast.links[0] 
                  ul
                    each link in podcast.links
                      li: a(href=link, target="_blank") #{link}
                else
                  p No links available for this podcast.
            tr
              td 
                
            tr
              td: a(href="/assets/podcasts/"+podcast.id) Click to Download
  script(src="/js/audioFix.js", type="text/javascript")