extends layout

block content
  h1 Student Showcase
  p.
    We would like to endorse your hard work. Do you have a mobile application,
    game, plugin, or any project you would like to show off? Send your submissions
    in to #[a(href="mailto:connor.hillen@ccss.carleton.ca") Connor Hillen]. You may
    also wish to submit a personal website, LinkedIn profile, or GitHub account
    to go along with your submission.
  p.
    #[strong Disclaimer:] The project shown here may not have been thoroughly reviewed
    by the CCSS. Use these applications at your own risk. For this reason,
    we recommend submissions come either in a larger market (Google Play, App Store,
    etc.) or all source code is released (GitHub). 
  
  .container-fluid#student-work
    each project in body.projects
      .row
        .col-md-6
          header
            h2 #{project.title}
            //- If the user has a website, link to it. Otherwise just display it
            if project.author.url
              span.developer #[a(href=project.author.url, target="_blank") #{project.author.name}] |
            else
              span.developer #{project.author.name} | 
            span.link #[a(href=project.url, target="_blank") Download (#{project.host})]
            p #{project.description}
        .col-md-6
          a(href=project.url, target="_blank")
            img.img-responsive(src=body.imgdirectory + project.src, alt=project.title)